<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="profilesPath" value="C:\profiles\"/>
    <add key="proxyfierPath" value="C:\Program Files (x86)\Proxifier\Proxifier.exe"/>
    <add key="proxyAmount" value="3"/>
  </appSettings>
</configuration>